#blue {
    width: 20px;
    height: 15px;
    background: #0C64E8;
    display: inline-block;
}

#yellow {
    width: 20px;
    height: 15px;
    background: #DB510B;
    display: inline-block;
}

#red {
    width: 20px;
    height: 15px;
    background: #D6032B;
    display: inline-block;
}

.progress-blue {
    background-color: #0C64E8;
}

.progress-yellow {
    background-color: #DB510B;
}

.progress-red {
    background-color: #D6032B;
}

.margin-l {
    margin-left: 0;
}

.card-body {
    border-radius: 5px;
}

.progress-info {
    width: 200px;
}

.center-position {
    position: relative;
    left: 25%;
}


.standard {
    text-align: right;
    font-size: 0.6rem;
    margin-top: 2px;
    padding-right: 25px;
}

.aTag_cursor:hover{
    cursor: pointer;
}


@media all and (max-width: 1199px) and (min-width: 1025px) {
    .center-position {left: 18%;}
    .m-fs {font-size: 0.85rem !important;}
    .card-title {font-size:0.7rem !important;}
    .m-fs>div:nth-child(2)>p:nth-child(2) {font-size: 1.2rem;}

    h5 {font-size: 0.75rem;}

    .re-pa {padding: .5rem .5rem 0 !important;}
    .card-body {padding: .5rem .5rem !important;}

    .year {display: block !important; margin-bottom: 0;}
    .md {display: block !important;}
    .me-3 {margin-top: 0 !important;}
}

@media all and (max-width: 1024px) and (min-width: 990px) {
    .re-pa {padding: .5rem .5rem 0 !important;}
    .card-body {padding: .5rem .5rem !important;}
    .m-fs {font-size: 0.85rem !important;}
    .card-title {font-size:0.7rem !important;}
    .m-fs>div:nth-child(2)>p:nth-child(2) {font-size: 1.2rem;}
    .year {display: block !important; margin-bottom: 0;}
    .md {display: block !important;}
    .me-3 {margin-top: 0 !important;}
}

@media all and (max-width: 1399px) and (min-width: 1200px) {
    .center-position {left: 20%;}
    .year {display: block !important; margin-bottom: 0;}

    .re-pa {padding: .5rem .5rem 0 !important;}
    .card-body {padding: .5rem .5rem !important;}
    .md {display: block !important;}
    .me-3 {margin-top: 0 !important;}
}

@media all and (max-width: 1199px) and (min-width: 990px) {
    .center-position {left: 15%;}
}

@media all and (max-width: 989px) {
    .center-position {left: 18%;}
    .m-fs {font-size: 0.7rem !important;}
    .card-title {font-size:0.7rem !important;}
    .m-fs>div:nth-child(2)>p:nth-child(2) {font-size: 1.2rem;}

    h5 {font-size: 0.75rem;}
    .card-body {padding: .5rem .5rem !important;}
    .re-pa {padding: .5rem .5rem 0 !important;}

    .re-pa>p:nth-child(2) {font-size: 1.3rem !important;}
    .re-pa>p:nth-child(2)>span {font-size: 0.8rem !important;}

    .year {display: block !important; margin-bottom: 0;}

    .md {display: block !important;}
    .me-3 {margin-top: 0 !important;}
}