/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

button.addBtn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: 5px;
    width: 70px;
}
button.removeBtn {
    border: 2px solid #dc3545;
    color: #fff;
    background-color: #dc3545;
    border-radius: 20px;
    margin-top: 5px;
    width: 70px;
}
button.updateBtn{
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 5px;
    width: 70px;
}

#placeDiv li {
    text-align: justify;
    padding-bottom: 10px;
    padding-top: 10px;
}
#placeDiv li>span input{
    margin-left: 5px;
    margin-right: 5px;
}
#placeDiv li>span>span span:nth-child(1) {
    margin-left: 9%;
}
#placeDiv li>span>span span:nth-child(2) {
    margin-left: 10%;
}
#placeDiv li>span>span span:nth-child(3) {
    margin-left: 15%;
}


#p_monitoring>span {
    margin-top: 4px;
}
#p_monitoring>div:nth-child(1) {
    font-size: 1.25rem;
}
#p_monitoring>div:nth-child(2) {
    margin-left: 5px;
    font-size: 1.25rem;
}
#p_monitoring>div:nth-child(3) {
    position: absolute;
    right: 740px;
}
#p_monitoring>div:nth-child(4) {
    position: absolute;
    right: 670px;
}

td>input {
    text-align: center;
}

/* 반응형 미디어쿼리 */
@media all and (max-width: 1980px) and (min-width: 1400px) {
    #p_monitoring>div:nth-child(3) {
        position: absolute;
        right: 22% !important;
    }
    #p_monitoring>div:nth-child(4) {
        position: absolute;
        right: 18% !important;
    }
}
@media all and (max-width: 1399px) and (min-width: 1200px) {
    .container>div:nth-child(3)>div {width: 100% !important; margin-bottom:5px;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>.addBtn {margin-left:37%;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {left:15% !important;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(3) {left:40% !important;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(4) {left:60% !important;}

    .container>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {left: 87% !important;}

    #p_monitoring>div:nth-child(3) {
        position: absolute;
        right: 18% !important;
    }
    #p_monitoring>div:nth-child(4) {
        position: absolute;
        right: 12.5% !important;
    }
}
@media all and (max-width:1199px) and (min-width: 990px) {
    .container>div:nth-child(3)>div {width: 100% !important; margin-bottom:5px;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>.addBtn {margin-left:32%;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {left:15% !important;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(3) {left:40% !important;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(4) {left:60% !important;}

    .container>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {left: 85% !important;}

    #p_monitoring>div:nth-child(3) {
        position: absolute;
        right: 18% !important;
    }
    #p_monitoring>div:nth-child(4) {
        position: absolute;
        right: 12.5% !important;
    }
}
@media all and (max-width: 989px) {
    .container>div:nth-child(3)>div {width: 100% !important; margin-bottom:5px;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>.addBtn {margin-left:20%;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {left:12% !important;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(3) {left:38% !important;}
    .container>div:nth-child(3)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(4) {left:58% !important;}

    .container>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {left: 80% !important;}

    #p_monitoring>div:nth-child(3) {
        position: absolute;
        right: 24.5% !important;
    }
    #p_monitoring>div:nth-child(4) {
        position: absolute;
        right: 17.5% !important;
    }
}
.placeTr{
    height: 50px;
}
.placeTr:hover{
    background-color: #86b7fe;
}

.multiSelecterModal {
    width: auto;
    border-radius: 10px;
    background-color: #0d6efd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: white;
    font-weight: bold;
    display: none;
    line-height: 55px;
    padding: 10px;
}

#placeinfo input {
    border-radius: 5px;
    border: 1px solid #999 !important;
}

@media all and (max-width: 1024px) {
    #station1 {
        margin-top: 20px !important;
        padding-bottom: 30px !important;
    }

    #station2 {
        margin-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

.readonlyCSS{
    background-color: #ddd;
    color:#999;
}